<%- include('../partials/header') %>

<h1>Edit Walk</h1>

<form action="/walks/<%= walk._id %>?_method=PUT" method="POST">
    <label>Description</label>
    <input type="text" name="caption">
    <label>Date:</label>
    <input type="date" name="date">
    <label>Distance Traveled:</label>
    <input type="text" name="distanceTraveled">
    
    </select>
  
    
    <input type="submit" value="Submit Edit" >
  </form>






<%- include('../partials/footer') %>