<%- include('../partials/header') %>

<h1>New Walk</h1>

<form class="newform" action="/walks" method="POST">
    <label class="newlabel">Description</label>
    <input type="text" name="caption">
    <label class="newlabel">Date:</label>
    <input type="date" name="date">
    <label class="newlabel">Distance Traveled:</label>
    <input type="text" name="distanceTraveled">
    
    </select>
  
    
    <input class='submitbtn' type="submit" value="Log Walk">
  </form>






<%- include('../partials/footer') %>