.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}
nav {
  background-color: #3B5A9D;
  font-size: 1.5em;
  color: #FFA633;
}
a:link {
  color: #FFA633;
  text-decoration: none;
}
a:visited {
  color: #FFA633;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
