<%- include('../partials/header') %>


<h1>All Users</h1>

<% user.forEach(function(u) { %>
    <ul class="profileul">
      
      <li class="alluserpreview"><img class='profileimg' alt="avatar" src="<%= u.avatar %>" referrerpolicy="no-referrer" ><%= u.name %></li>
      
    </ul>
    <% }); %>




<%- include('../partials/footer') %>